@import url(/src/App.css);

.card {
    margin: 2em auto 3em auto;
    max-width: 250px;

    box-shadow: 0 2px 5px hsl(0, 0%, 90%);
    border-radius: 6px;
}

.card--dark {
    margin: 2em auto 3em auto;
    max-width: 250px;

    box-shadow: var(--box-shadow-dark);
    border-radius: 6px;
    color: var(--white);
    background-color: var(--blue);
}

.card__img {
    max-width: 100%;

    border-radius: 5px 5px 0 0;
}

.card__h3 {
    font-size: 1.1rem;
}

.card__info {
    padding: 1.5em;
}

.card__info__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25em;
    margin: 1em 0 1.5em 0;
}

.card__info__details p {
    font-weight: 800;
}

.card--open__info p {
    font-weight: 600;
}

.card__info__details span,
.card--open__info span {
    font-weight: 400;
}


.card--open {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    gap: 3em;
    min-height: fit-content;
    padding: 100px 8% 2em 8%;

    background-color: var(--white);
    z-index: 10;
}

.card--open--dark {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    gap: 3em;
    min-height: fit-content;
    padding: 100px 8% 2em 8%;

    background-color: var(--dark-blue);
    z-index: 10;
    color: var(--white);
}

.card--open__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    width: clamp(90px, 90px, 200px);
    margin: 1.25em 0 0 0 ;
    padding: 0.5em 0;

    background-color: var(--white);
    border: none;
    box-shadow: 0 0 5px hsl(0, 0%, 60%);
    font-family: var(--body-ff);
    font-weight: 600;
}

.card--open__button--dark {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    width: clamp(90px, 90px, 200px);
    margin: 1.25em 0 0 0 ;
    padding: 0.5em 0;

    background-color: var(--blue);
    color: var(--white);
    fill: var(--white);
    border: none;
    box-shadow: var(--box-shadow-dark);
    font-family: var(--body-ff);
    font-weight: 600;
}

.card--open__button__icon {
    max-width: 15px;
}

.card--open__img {
    margin: 3.5em 0 3em 0;
}

.card--open__info {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card--open__info>div {
    margin: 0 0 1.5em 0;
}

.card--open__info__details,
.card--open__info__technical {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.card--open__info h2 {
    font-size: 1.5rem;
}

.card--open__info h3 {
    font-weight: 600;
}

.card--open__info__borders__buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
}
