@import url('/src/App.css');

.header {
    margin: 0 auto;
    padding: 0 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    box-shadow: 0 2px 5px hsl(0, 0%, 90%);
    z-index: 100;
    background-color: var(--white);
}

.header--dark {
    margin: 0 auto;
    padding: 0 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    box-shadow: 0 2px 5px hsl(0, 0%, 10%);
    z-index: 100;
    background-color: var(--blue);
}

.header__title {
    padding: 2.25em 0;

    font-size: 0.8rem;
    font-weight: 800;
    color: var(--black);
}

.header__title--dark {
    padding: 2.25em 0;

    font-size: 0.8rem;
    font-weight: 800;
    color: var(--white);
}

.header__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;

    border: none;
    background-color: transparent;
    font-family: var(--body-ff);
    font-weight: 600;
    font-size: 0.75rem;
    color: var(--dark-blue-text);
    cursor: pointer;
}

.header__btn--dark {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;

    border: none;
    background-color: transparent;
    font-family: var(--body-ff);
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--white);
    cursor: pointer;
}

.header__btn__icon {
    height: 15px;
}

.header__btn__icon--dark {
    height: 15px;
    
    fill: var(--white);
}


@media(min-width: 900px) {
    .header__title, 
    .header__title--dark{
        padding: 1em 0;

        font-size: 1.5rem;
    }

    .header__btn, 
    .header__btn--dark{
        font-size: 1rem;
    }

    .header__btn__icon, 
    .header__btn__icon--dark {
        height: 20px;
    }
}
